{% extends "_layouts/main_layout.html.twig" %}

{% block content %}
    {% if record %}
    <h1>Will you help {{request_user.name}} with</h1>
    <h2>...{{request.category}}?</h2>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>City:</dt>
                <dd>{{ request.city }}</dd>
            </dl>

            <hr />

            <dl class="dl-horizontal">
                <dt>Contact by email:</dt>
                <dd><a href="mailto:{{ request_user.email }}">{{ request_user.email }}</a></dd>
                <dt>Facebook contact:</dt>
                <dd><a href="{{ request_user.facebook_profile }}">Facebook</a></dd>

                <dt>Description:</dt>
                <dd>{{request.description}}</dd>
            </dl>

            {% if messages %}
                <hr />
                <h2>Messages</h2>
                <ul>
                    {% for message in messages %}
                        <hr />
                        Message from <span style="font-weight: 700; font-size: 1.2em;">{{ message.sender.name }}</span><br><br>
                        <li>{{ message.content }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <hr />
            <form method="post" action="/helprequest/{{ request.id }}/notify">
                <div class="form-group">
                    <label for="description">How can you help?</label>
                    <textarea name="description" id="description" class="form-control"></textarea>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Send message" class="btn btn-default"/>
                </div>
            </form>

        </div>
        <div class="col-md-4">
            <img src="{{profile_image}}" alt="Profile image of {{user.name}}" />
        </div>
    </div>
    
    {%else%}
    <div class="alert alert-danger" role="alert">This entry does not exist.</div>
    {%endif%}
{% endblock %}
