{% extends "_layouts/main_layout.html.twig" %}

{% block content %}
    <h1>Will you help {{request_user.name}} with</h1>
    <h2>...{{request.category}}?</h2>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>City:</dt>
                <dd>{{ request.city }}</dd>
            </dl>

            <hr />

            <dl class="dl-horizontal">
                <dt>Contact by email:</dt>
                <dd>{{ request_user.email }}</dd>
                <dt>Facebook contact:</dt>
                <dd><a href="{{ request_user.facebook_profile }}">Facebook</a></dd>
            </dl>

            {% if shownotify %}
                <hr />
                <form method="post" action="/helprequest/notify">
                    <input type="hidden" name="id" value="{{ request.id  }}" />
                    <div class="form-group">
                        <label for="description">How can you help?</label>
                        <textarea name="description" id="description" class="form-control"></textarea>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="Send message" class="btn btn-default"/>
                    </div>
                </form>
            {% endif %}

        </div>
        <div class="col-md-4">
            <img src="{{profile_image}}" alt="Profile image of {{user.name}}" />
        </div>
    </div>
    <hr />
    <hr />
{% endblock %}