{% extends "_layouts/main_layout.html.twig" %}

{% block header_picture %}
    <div class="header_picture">

        <div class="headline centered">
          <h1>Helpific - it´s never been easier to give and get help. </h1><br>
          <h2>Helpific is a person to person platform to create stronger communities. </h2>
          <a href="#">
            
            <img src="{{base_url}}/assets/images/playbutton.png" class="img-responsive centered-margin m40top">

            <h2 class="m20top">Watch video</h2>

          </a>
        </div>
    </div>
{% endblock %}

{% block front_doors %}
    
    <div class="front-doors">

        <img src="{{base_url}}/assets/images/the_key.png" class="img-responsive keyImage">

        <div class="left">

            <div class="inner-content">
                <a href="#" class="btn">I NEED HELP</a>
                
                <p>
                    <span class="first-line">State your <strong>NEED</strong></span><br>
                    <span class="second-line">so you can see the deed</span>
                    </span>
                </p>
                
                <img src="{{base_url}}/assets/images/door-left.png" class="img-responsive m40top">
            </div>

        </div>
        <div class="right">
            
            <div class="inner-content">
                <a href="#" class="btn">I WANT TO HELP</a>
                
                <p>
                    <span class="first-line">Be a <strong>HERO</strong></span><br>
                    <span class="second-line">in your communiy</span>
                </p>

                <img src="{{base_url}}/assets/images/door-right.png" class="img-responsive m40top">
            </div>

        </div>
    </div>

{% endblock %}


{% block content %}
    
    <br><br><br><br><br><br>
    <h1 class="centered gray">HOW HELPIFIC WORKS</h1>

    <img src="{{base_url}}/assets/images/how-it-works.png" class="img-responsive m40top">

{% endblock %}
