
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {{ lang_texts.site_title }} </title>

    <link href="{{base_url}}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{base_url}}/assets/vendor/bootstrap-accessibility-plugin/plugins/css/bootstrap-accessibility_1.0.3.css" rel="stylesheet">
    <link href="{{base_url}}/assets/vendor/bootstrap-datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{base_url}}/assets/stylesheets/screen.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-fixed-top helpific-navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <i class="fa fa-bars"></i>
          </button>

          <!-- <a class="navbar-brand" href="{{base_url}}">{{lang_texts.nav_head_text}}</a> -->

        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{{menuLinkClasses.home}}"><a href="{{base_url}}">Home</a></li>
            <li class="{{menuLinkClasses.about}}"><a href="{{base_url}}/about">About</a></li>
            {%if user %}
            <li><a href="{{base_url}}/logout">Logout</a></li>
            {%endif%}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container main-container">

      {% block content %}{% endblock %}

    </div><!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{base_url}}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment-with-locales.min.js"></script>
    <script src="{{base_url}}/assets/vendor/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{base_url}}/assets/vendor/bootstrap-accessibility-plugin/plugins/js/bootstrap-accessibility_1.0.3.min.js"></script>
    <script src="{{base_url}}/assets/js/main.js"></script>
  </body>
</html>
